		<!-- Contact section -->
		<div id="contact" class="section-xs">
                <div class="container">
                    <div class="section-title text-center">
                        <h6 class="heading-uppercase">Contact</h6>
                        <h2>Get In Touch</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    </div>
                    <div class="row text-center">
                        <div class="col-12 col-sm-4 icon-3xl">
                            <i class="ti ti-email text-dark"></i>
                            <h6 class="font-weight-normal margin-top-20">Email</h6>
                            <p>{{site.email}}</p>
                        </div>
                        <div class="col-12 col-sm-4 icon-3xl">
                                <i class="ti ti-location-pin text-dark"></i>
                                <h6 class="font-weight-normal margin-top-20">Address</h6>
                                <p>{{site.address}}</p>
                            </div>
                        <div class="col-12 col-sm-4 icon-3xl">
                                <i class="ti ti-mobile text-dark"></i>
                                <h6 class="font-weight-normal margin-top-20">Phone</h6>
                                <p>{{site.phone-number}}</p>
                            </div>
                       <!-- Icon text box 4 -->

 
                    </div><!-- end row -->
                </div><!-- end container -->
            </div>
            <!-- end Contact section -->