		<!-- Home section -->
		<div class="section-fullscreen bg-black">
			<div class="container text-right">
				<div class="position-middle">
					<div class="col-xs-12 col-sm-6 border border-white d-inline-block padding-40">
						<h1 class="display-4 font-weight-normal uppercase letter-spacing-2px line-height-140 no-margin"><strong>{{site.title}}:</strong><span class="display-6">{{site.sub-title}}</span></h1>
						<h2>{{ page.title }}</h2>
					</div>
				</div>
				<!-- scrolldown button -->
				<div class="position-bottom">
					<a class="scrolldown icon-xl" href="#about">
						<i class="ti-arrow-down"></i>
					</a>
				</div>
			</div><!-- end container -->
		</div>
		<!-- end Home section -->