		<!-- Blog section -->
		<div id="blog" class="section-lg">
                <div class="container">
                    <div class="section-title">
                        <div class="row align-items-end">
                            <div class="col-6">
                                <h6 class="heading-uppercase">Newsfeed</h6>
                                <h2>Latest Blog Posts</h2>
                            </div>
                            <div class="col-6 text-right">
                                <a class="text-btn-3" href="#">Read All Posts</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Blog post 1 -->
                        <div class="col-12 col-md-6">
                            <a href="#">
                                <img src="../assets/images/col-2.jpg" alt="">
                            </a>
                            <div class="padding-30">
                                <h5 class="font-weight-normal"><a href="#">Blog Post with Image</a></h5>
                                <span>Jan 03, 2018</span>
                            </div>
                        </div>
                        <!-- Blog post 2 -->
                        <div class="col-12 col-md-6">
                            <a href="#">
                                <img src="../assets/images/col-2.jpg" alt="">
                            </a>
                            <div class="padding-30">
                                <h5 class="font-weight-normal"><a href="#">Blog Post with Image</a></h5>
                                <span>Jan 03, 2018</span>
                            </div>
                        </div>
                    </div><!-- end row -->
                </div><!-- end container -->
            </div>
            <!-- end Blog section -->