		<!-- Portfolio section -->
		<div class="section bg-grey">
			<div class="container">
				<div class="section-title text-center">
					<h2>Our Latest Works</h2>
				</div>
				<!-- Portfolio filter -->
				<div class="filter filter-style-4 text-center margin-bottom-50">
					<ul>
						<li class="active" data-filter="*">All</li>

						{% assign categorys = include.projects | map: 'category' | uniq %}
						{% for item in categorys %}
							<li data-filter=".{{item}}">{{item}}</li>
						{% endfor%}
					</ul>
				</div>

				<!-- end Portfolio filter -->
				<div class="portfolio-wrapper column-3 spacing-20 hover-style-1">
					{% for item in include.projects %}
					<!-- Portfolio box -->
					<div class="portfolio-item {{item.category}}">
						<div class="portfolio-box">
							<div class="portfolio-img">
								<img src="{{item.project-image}}" alt="{{item.project-name}} | {{item.category}}">
							</div>
							<a href="#"></a><!-- Portfolio Single link -->
							<div class="portfolio-title">
								<div>
									<h5 class="font-weight-normal">{{item.project-name}}</h5>
									<span>{{item.category}}</span>
								</div>
							</div>
						</div>
					</div>
					{% endfor%}
				</div><!-- end portfolio-wrapper-->
			</div><!-- end container -->
		</div>
		<!-- end Portfolio section -->