		<!-- Team section -->
		<div class="section">
			<div class="container">
				<div class="section-title text-center">
					<h2>Meet Our Creative Team</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				</div>
				<div class="row team-wrapper team-box-hover-3">
					<!-- Team box 1 -->
					<div class="col-12 col-md-6 col-lg-3 team-box">
						<div class="team-img">
							<img src="../assets/images/col-4-square.jpg" alt="">
							<!-- social links -->
							<div>
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-pinterest"></i></a></li>
								</ul>
							</div>
						</div>
						<h6 class="font-weight-normal no-margin">Robert Vincent</h6>
						<span>Founder</span>
					</div>
					<!-- Team box 2 -->
					<div class="col-12 col-md-6 col-lg-3 team-box">
						<div class="team-img">
							<img src="../assets/images/col-4-square.jpg" alt="">
							<!-- social links -->
							<div>
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-pinterest"></i></a></li>
								</ul>
							</div>
						</div>
						<h6 class="font-weight-normal no-margin">Brenda Johnson</h6>
						<span>Co-Founder</span>
					</div>
					<!-- Team box 3 -->
					<div class="col-12 col-md-6 col-lg-3 team-box">
						<div class="team-img">
							<img src="../assets/images/col-4-square.jpg" alt="">
							<!-- social links -->
							<div>
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-pinterest"></i></a></li>
								</ul>
							</div>
						</div>
						<h6 class="font-weight-normal no-margin">Rodney Scott</h6>
						<span>Lead Developer</span>
					</div>
					<!-- Team box 4 -->
					<div class="col-12 col-md-6 col-lg-3 team-box">
						<div class="team-img">
							<img src="../assets/images/col-4-square.jpg" alt="">
							<!-- social links -->
							<div>
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-pinterest"></i></a></li>
								</ul>
							</div>
						</div>
						<h6 class="font-weight-normal no-margin">Michelle White</h6>
						<span>Lead Designer</span>
					</div>
					<!-- Team box 5 -->
					<div class="col-12 col-md-6 col-lg-3 team-box">
						<div class="team-img">
							<img src="../assets/images/col-4-square.jpg" alt="">
							<!-- social links -->
							<div>
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-pinterest"></i></a></li>
								</ul>
							</div>
						</div>
						<h6 class="font-weight-normal no-margin">Maria Parrish</h6>
						<span>Marketer</span>
					</div>
					<!-- Team box 6 -->
					<div class="col-12 col-md-6 col-lg-3 team-box">
						<div class="team-img">
							<img src="../assets/images/col-4-square.jpg" alt="">
							<!-- social links -->
							<div>
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-pinterest"></i></a></li>
								</ul>
							</div>
						</div>
						<h6 class="font-weight-normal no-margin">Thomas Lueck</h6>
						<span>Developer</span>
					</div>
					<!-- Team box 7 -->
					<div class="col-12 col-md-6 col-lg-3 team-box">
						<div class="team-img">
							<img src="../assets/images/col-4-square.jpg" alt="">
							<!-- social links -->
							<div>
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-pinterest"></i></a></li>
								</ul>
							</div>
						</div>
						<h6 class="font-weight-normal no-margin">Andrea Romo</h6>
						<span>Designer</span>
					</div>
					<!-- Team box 8 -->
					<div class="col-12 col-md-6 col-lg-3 team-box">
						<div class="team-img">
							<img src="../assets/images/col-4-square.jpg" alt="">
							<!-- social links -->
							<div>
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-pinterest"></i></a></li>
								</ul>
							</div>
						</div>
						<h6 class="font-weight-normal no-margin">Brian Flores</h6>
						<span>Photographer</span>
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
		</div>
		<!-- end Team section -->