<!-- Team section -->
<div class="section">
	<div class="container">
		<div class="section-title text-center">
			<h2>Meet Our Team</h2>
			<p>Our creative team, all experts in their chosen fields, will use their extensive knowledge, insight and the latest advances in technology to deliver the required results and impact for your project.</p>
			<!-- <p>Our mission is simple, to provide a quality service that delivers commercially effectual solutions and promote positive growth for our customers.</p> -->
		</div>
		<div class="row team-wrapper team-box-hover-3">
			{% for team-member in include.team %}
			<div class="col-12 col-md-6 col-lg-3 team-box">
				{% if team-member.image %}
				<div class="team-img">
					<img src="{{team-member.image}}" alt="{{team-member.name}} | {{team-member.role}}">
				</div>
				{% endif %}
				<h6 class="font-weight-normal no-margin">{{team-member.name}}</h6>
				<span>{{team-member.role}}</span>
			</div>
			{% endfor %}
		</div><!-- end row -->
	</div><!-- end container -->
</div>
<!-- end Team section -->
