---
layout: default
---
<div class="section-lg">
    <div class="container">
      <h1 class="font-weight-normal">{{ page.title }}</span></h1>
      <h4 class="font-weight-thin">{{ page.intro_paragraph }}</h4>
    </div><!-- end container -->
</div>

{{ content }}

<!-- project Posts -->
<div class="section section-xs bg-grey-lightest">
    <div class="container">
      <div class="blog-masonry blog-column-3">
      {% if site.projects > 1%}
      {% for project in site.projects %}
      {% assign author = site.data.authors[post.author] %}
        <!-- project Post box -->
        <div class="blog-post-box">
          <div class="blog-post-img">
            <a href="{{project.url}}">
              {% for image in project.gallery.galleryImages limit:1 %}
                {% assign image-src = image.image | split: "/" %}
                <img src="/assets/images/resize/project-thumbnail/{{ image-src.last }}" alt="{{project.title}}">
              {% endfor %}
            </a>
          </div>
          <div class="blog-post-content">
            <div class="blog-post-title margin-bottom-10">
              <h5><a href="{{project.url}}">{{project.title}}</a></h5>
            </div>
            <a class="text-btn margin-top-20" href="{{project.url}}">Read More</a>
          </div>
        </div>
      <!-- end Blog Posts -->
      {% endfor %}
      {% else %}
        <div class="container">
            <h4 class="font-weight-thin">Nothing cool to show you at the moment.</h4>
        </div><!-- end container -->
      {% endif %}
</div><!-- end blog-masonry -->
</div><!-- end container -->
</div>

{% include full-width-with-button.html text="Think we can help with your next project?
" image="parallax-contact.jpg" button-text="get in touch" button-link="/contact" button-icon="ti-email" %}

