---
layout: default
---

<div class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-3">
            
          {% if page.category %}
          <div class="margin-bottom-20">
            <h6 class="heading-uppercase no-margin">Category</h6>
            <span>{{page.category}}</span>
          </div>
          {% endif %}
          {% if page.date %}
          <div class="margin-bottom-20">
            <h6 class="heading-uppercase no-margin">Date</h6>
            <span>{{page.date | date: " %B %Y" }}</span>
          </div>
          {% endif %}
          {% if page.industry %}
          <div>
            <h6 class="heading-uppercase no-margin">Industry</h6>
            <span>{{page.industry}}</span>
          </div>
          {% endif %}
        </div>
        <div class="col-12 col-lg-6">
            {{ content }}
        </div>

        <div class="col-12 col-lg-3">  
          {% if page.client %}
          <div class="margin-bottom-20">
            <h6 class="heading-uppercase no-margin">Client</h6>
            <span>{{page.client}}</span>
          </div>
          {% endif %}
          {% if page.service %}
          <div class="margin-bottom-20">
            <h6 class="heading-uppercase no-margin">Service</h6>
            <span>{{page.service}}</span>
          </div>
          {% endif %}
          {% if page.project-link %}
          <div>
            <h6 class="heading-uppercase no-margin">Project Link</h6>
            <a class="hyperlink-5" href="#">{{page.project-link}}</a>
          </div>
          {% endif %}
          {% for image in page.galleryImages %}
          <img src="{{image}}" alt="" />
          {% endfor %}
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </div>
  <div class="section no-padding-top">
			<div class="container">
				<div class="row">
          {% if page.project-image %}
					<div class="col-12 col-md-6">
						<img class="img-responsive" src="{{ page.project-image }}" alt="{{page.title}} image">
					</div>
          {% endif %}
          {% if page.project-image-2 %}
					<div class="col-12 col-md-6">
						<img src="{{ page.project-image-2 }}" alt="{{page.title}} image 2">
					</div>
          {% endif %}
          {% if page.project-image-3 %}
					<div class="col-12 col-md-6">
						<img src="{{ page.project-image-3 }}" alt="{{page.title}} image 3">
					</div>
          {% endif %}
          {% if page.project-image-4 %}
					<div class="col-12 col-md-6">
						<img src="{{ page.project-image-4 }}" alt="{{page.title}} image 4">
					</div>
          {% endif %}
				</div><!-- end row -->
			</div><!-- end container -->
  </div>



</div><!-- end blog-masonry -->
</div><!-- end container -->
</div>
