---
layout: default
---
<div class="section no-padding">
  <div class="container-fluid no-padding bg-grey-lighter">
      <!-- Slide 1 -->	
      <div>
        <div class="row align-items-center no-margin">
          <div class="col-12 col-lg-4 no-margin no-padding">
            <div class="padding-50">
              <h2 class="font-weight-light">{{page.title}}</h2>
              <p>{{page.intro_paragraph}}</p>
            </div>
          </div>
          <div class="col-12 col-lg-8 no-margin no-padding">
            <img class="float-right" src="../assets/images/resize/lg-image/team-main.jpg" alt="">
          </div>
        </div>
      </div>
  </div><!-- end container-fluid -->
</div>
<!-- end Home Slider section -->

<section>

  {% include team-section.html team=site.team %}

</section>

{% include full-width-with-button.html text="Love what you see? maybe you could join us." image="our-building.jpg" button-text="Work for FireBrand" button-link="/recruit" button-icon="ti-mouse-alt" %}