---
layout: default
---
<div class="section no-padding">
  <div class="container-fluid no-padding bg-grey-lighter">
      <!-- Slide 1 -->	
      <div>
        <div class="row align-items-center no-margin">
          <div class="col-12 col-lg-4 no-margin no-padding">
            <div class="padding-50">
              <h2 class="font-weight-light">{{page.title}}</h2>
              <p>{{page.intro_paragraph}}</p>
            </div>
          </div>
          <div class="col-12 col-lg-8 no-margin no-padding">
            <img src="../assets/images/col-1.jpg" alt="">
          </div>
        </div>
      </div>
  </div><!-- end container-fluid -->
</div>
<!-- end Home Slider section -->

<section>

  {% include team-section.html team=site.team %}

</section>

<div class="bg-image parallax" style="background-image: url(../../assets/images/background.jpg)">
  <div class="bg-white-07">
    <div class="section-lg text-center">
      <h2 class="font-weight-light">Love what you see? maybe you could join us.</h2>
      <a class="button button-xl button-border-1px button-reveal-left-outline-dark button-rounded margin-top-20" href="#"><i class="ti-email"></i><span>Work for {{site.title}}</span></a>
    </div>
  </div>
</div>
